/* clanCreate-container 스타일 */
.clanCreate-container {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  text-align: center;
  z-index: 1;
  }
/* 화면을 더 사용하기 위해 너비를 늘림 /
  / 콘텐츠 배경에 딥 스카이 블루 사용 /
  / 텍스트는 배경과 대비를 위해 흰색으로 설정 */
.clanCreate-content {
  width: 40%;
  height: 95%;
  padding: 6%;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
}

/* 다른 섹션들의 여백 설정 */
.clanCreateNames,
.clanCreateText,
.clanCreateFiles {
  margin-bottom: 5%;
}

/* 제목에 대한 스타일 /
  / 제목은 흰색으로 설정 */
.clanCreateTitle {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000;
}
#sidebar_CC {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* 텍스트 영역 스타일 */
.clanCreate-inputs textarea {
  width: 80%;
  height: 400px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* 파일 입력 스타일 */
.clanCreateFiles input[type='file'] {
  margin-top: 10px;
  text-align: center;
}

/* 버튼 컨테이너 스타일 */
.clanCreateButtons {
  position: relative;
}

#clanCreateBack-Btn {
  position: absolute;
  top: 5%;
  right: 50%;
  
  background-color: yellowgreen;
  color: black;
  border: 1px solid #000000;
  border-radius: 5px;
  }
/* 등록 버튼 스타일 /
  / 등록 버튼 텍스트는 흰색, 배경은 스카이 블루 */
#clanCreateSub-Btn {
  position: absolute;
  right: 30%;
  top: 5%; 
  background-color: red;
  color: black;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* clanMembers 스타일 */
#clanMembers {

  right: 38%;

  background-color: rgb(255, 247, 0);
  color: black;
  border: 1px solid #000000;
  border-radius: 5px;

  min-height: 20px;
  min-width: 50px;
}

/* 다른 버튼들과 간격을 맞추기 위해 조정 */
#clanCreateBack-Btn,
#clanCreateSub-Btn,
#clanMembers {
  padding: 10PX;
}
#clanImage{
  text-align: center;
  margin-left: 25%;
}

#clanName-input{

  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;

}
