<%-include('header.ejs')%>


<form action="../back/login.js" method="post">
    <ul>
        <li>정보기입</li>
        <li>닉네임 : <input type="text" name="nick" required></li>
        <li>연락처 : <input type="text" name="phone" required></li>
        <button type="submit">문의하기</button>   
    </ul>
 
 
     <%-include('footer.ejs')%>