#signUp_main{
  margin-top: 0 !important;
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
}
#signUp_logo{
  margin-left: 25%;
  width: 50%;
  height : 40%;
  align-items: center !important;
}
 