/* App.css */

#sidebar{
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  
}

.calendar {
  flex-grow: 0.65;
  height: 100vh;
  margin: auto;
}

#team_subsc {
  flex-grow: 0.5; /* team_subsc 너비 조정 */
  max-height: 100%; /* team_subsc 높이를 부모 컨테이너의 높이와 동일하게 설정 */
  
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .calendar {
    height: auto;
  }

  .team_subsc {
    height: auto;
  }
}