/* App.css */

#sidebar{
  height: 100%;
  height: auto;
}

.container {
  display: flex;
  height: auto;
  
}

.calendar {
  flex-grow: 0.65;
  height: 100vh;
  margin: auto;
}

#team_subsc {
  flex-grow: 0.5;
  max-height: 100%; 

  
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .calendar {
    height: auto;
  }

  #team_subsc {
    height: auto;
  }
}