.menu-link {

  display: flex;
  justify-content: left;
  align-items: left;
  height: 250px; /* 이미지의 높이를 200px로 설정 */
  margin-left: 20px;
  width: 250px;
  background-color: whitesmoke;
}

.gst-menu {
  max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 설정 */
  max-height: 100%; /* 이미지의 최대 높이를 부모 요소에 맞게 설정 */
}

