.team-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .team-info {
      flex-direction: column;
      align-items: center;
    }
  
    .team-info-img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .team-info-text {
      max-width: none;
      text-align: center;
    }
  }
  