.team-info {
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  text-align: center;
  border: 3px solid black;
  padding: 20px;
}

@media (max-width: 768px) {
  .team-info {
    max-width: none;
    margin-left: 0;
  }
}

.team-info-img {
  margin-left: 25%;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
}

.team-info-text {
  text-align: center;
  border: 3px solid black;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

#signUp_main_TI {
  padding-top: 12%;
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
}

#team-info-img {
  margin-left: 25%;
  width: 50%;
  height: 40%;
  align-items: center;
}

.subscribe-area {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.subscribe-button {
  background-color: #3841E6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.subscribe-button:hover {
  background-color: #232bba;
}

.subscribed {
  background-color: #CCCCCC;
  color: #333333;
}

.subscribed:hover {
  background-color: #949494;
}
