/* team-info 스타일 */
.team-info {
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px; /* 테두리를 둥글게 만듦 */
  padding: 20px;
  background-color: lightgray;
}

@media (max-width: 768px) {
  .team-info {
    max-width: none;
    margin-left: 0;
  }
}

.team-info-img {
  margin-left: 25%;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.team-info-text {
  text-align: center;
  border: 3px solid black;
  border-radius: 10px; /* 테두리를 둥글게 만듦 */
  padding: 5%;
  margin-top: 20px;
  width: 100%;
  background-color: whitesmoke;
}

#signUp_main_TI {
    padding-top: 1%;
 
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: darkgray;
    align-items: center;
}
.main_container_TI{
 
margin-left: 10% !important;
}
#team-info-img {
  margin-left: 25%;
  width: 50%;
  height: 40%;
  align-items: center;
 
}

.subscribe-area {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.subscribe-button {
  background-color: #3841E6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 3px solid black;
  border-radius: 10px; /* 테두리를 둥글게 만듦 */
}

.subscribe-button:hover {
  background-color: #232bba;
}

.subscribed {
  background-color: #CCCCCC;
  color: #333333;
  border: 3px solid black;
  border-radius: 10px; /* 테두리를 둥글게 만듦 */
}

.subscribed:hover {
  background-color: #949494;
}