.board_content {
    width: 100%;
    border: 1px solid var(--primary-light);
    border-radius: 0.75rem;
    box-shadow: 0 24px 72px 0 rgba(96, 93, 255, .1);
    align-content: center;
    background-color: whitesmoke;
    padding-bottom: 50px;
}

#previous_content {
    display: flex;
    
    align-items: center !important;
    justify-content: center;
    overflow: hidden;
}



#next_content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#present_content{
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 50px;
   
}

#present_content_img{
    min-width: 150%;
    min-height: 150%;
}


.board_content_card {
    display: flex;
    border: 1px solid var(--primary-light);
    border-radius: 0.75rem;
    min-height: 50%;
    min-width: 30%;
    max-width: 2%;
    align-items: center;
    
}

.board_content_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    border: 1px solid var(--primary-light);
    border-radius: 0.75rem;
    box-shadow: 0 24px 72px 0 rgba(96, 93, 255, .1);
    
    
}

.board_content_background img {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.board_content_card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.board_content_blog-author {
    display: flex;
    align-items: center;
    width: fit-content;
    
    column-gap: 0.5rem;
    border: 2px solid #e6e5ff;
    background-color: #fff;
    border-radius: 2rem;
    height: 3.5rem;
}

.board_content_blog-author__name {
    font-weight: 700;
}

.board_comment{
    align-items: center;
    text-align: center;
    width : 300px
    align-items-center;
}
